<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.fields_for :position do |pos| %>
      <%= pos.hidden_field :latitude %>
      <%= pos.hidden_field :longitude %>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" id="geocode">Geocode</button>
  </div>
  <div id="locationSelection"></div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area(:comments, cols: 30, rows: 4) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>