<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="description">
    <fieldset>
      <legend>Description</legend>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    
      <div class="field">
        <%= f.label :comments %>
        <%= f.text_area(:comments, cols: 30, rows: 4) %>
      </div>
    </fieldset>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

  <div id="location">
    <fieldset>  
      <legend>Location</legend>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address, placeholder: "adresse, ville" %>
        <%= f.fields_for :position do |pos| %>
          <%= pos.hidden_field :latitude %>
          <%= pos.hidden_field :longitude %>
        <% end %>
      </div>
      <div class="actions">
        <button type="button" id="geocode">Geocode</button>
      </div>
      <div id="locationSelection"></div>
    </fieldset>
  </div>

  
<% end %>