<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('thing_form.creation_error', count: @thing.errors.count) %></h2>
      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>      
      </ul>
    </div>
  <% end %>

  <div id="description">
    <fieldset>
      <legend><%= t('thing_form.legends.description') %></legend>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: t('thing_form.placeholders.name') %>
      </div>
    
      <div class="field">
        <%= f.label :comments %>
        <%= f.text_area(:comments, cols: 30, rows: 4, placeholder: t('thing_form.placeholders.comments')) %>
      </div>
    </fieldset>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

  <div id="location">
    <fieldset>  
      <legend><%= t('thing_form.legends.location') %></legend>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address, placeholder: t('thing_form.placeholders.address') %>
        <%= f.fields_for :position do |pos| %>
          <%= pos.hidden_field :type %>
          <%= pos.hidden_field :coordinates %>
        <% end %>
      </div>
      <div class="actions">
        <button type="button" id="geocode"><%= t('thing_form.actions.geocode') %></button>
      </div>
      <div id="locationSelection" data-coordinates="<%= JSON.generate(@coordinates) %>"></div>
    </fieldset>
  </div>

  
<% end %>