<section id="results">
    <article>
        <p><%= @things.length > 1 ? t('results.nb.other', nb: @things.length, search: @search_string) : t('results.nb.one', nb: @things.length, search: @search_string)%></p>
    </article>
    <table>
        <tbody>
            <% @things.each_index do |i| %>
            <tr>
                <td><%= link_to @things[i].name, @things[i] %></td>
                <td><%= @things[i].address %></td>
                <td><%= @things[i].comments %></td>
                <td><%= @distances[i] %> km</td>
            </tr>
            <% end %>
        </tbody>
        <thead>
            <tr>
                <th><%= t 'results.What' %></th>
                <th><%= t 'results.Where' %></th>
                <th><%= t 'results.Comments' %></th>
                <th title="<%= t 'results.tooltips.distance' %>"><%= t 'results.Distance' %></th>
            </tr>
        </thead>
    </table>
</section>


