<section id="body" class="content">
    <article>
        <p>
            Outrouver.com vous permet de trouver n'importe quoi à proximité de chez vous.
        </p>
        
        <p>
            C'est un site collaboratif où tout le monde peut déposer ses trouvailles, etc.
            Marre d'écumer toutes les échoppes de la rue du Cul ou de toutes les boutiques du 
            passage du Tuyau Qui Flotte pour trouver votre bonheur ?
        </p>
        
        <p>
            C'est ici que ça se passe.
        </p>

        <p>
            <%= link_to "Ajouter une trouvaille", controller: 'things', action: 'new' %>
        </p>
    </article>

    <%= form_tag("/things/", method: "get") do %>
      <%= image_tag("search-icon.png", alt: "Search") %>
      <%= text_field_tag(:name, nil, placeholder:"guirlande") %>
      <%= submit_tag("Search") %>
        
        <label for="closeToDevice">Près de là ou je suis maintenant</label>
        <input type="checkbox" id="closeToDevice" name="closeToDevice" value="true"/>
        <label for="closeToFavorites">Près de mes endroits favoris</label>
        <input type="checkbox" id="closeToFavorites" name="closeToFavorites" value="true"/>
        <label for="closeToSelection">Près d'un autre endroit</label>
        <input type="checkbox" id="closeToSelection" name="closeToSelection" value="true"/>
        <input type="hidden" id="coordinates"/>
    <% end %>

    <div id="locationSelection"></div>
</section>