<section>
    <article id="intro">
        <p><%= t 'home.intro_first_paragraph' %></p>        
        <p><%= t 'home.intro_second_paragraph' %></p>

        <div class="actions">
            <%= link_to t('home.new_thing_button'), controller: 'things', action: 'new' %>
        </div>
    </article>

    <article id="search">
        <%= form_tag("/things/", method: "get") do %>
            <div class="field">
                <label>
                    <%= image_tag("magnifier.png", alt: "Search") %>
                </label>
                <%= text_field_tag(:name, nil, placeholder: t('home.search_placeholder')) %>
            </div>
            
            <fieldset>
                <legend>Options</legend>
                    <div class="field">
                        <label for="closeToDevice"><%= t 'home.close_to_device' %></label>
                        <input type="radio" id="closeToDevice" name="searchLocation" value="device" checked="checked"/>
                        <input type="hidden" id="deviceLocation" name="deviceLocation"/>
                    </div>                    

                    <div class="field">
                        <label for="closeToSelection"><%= t 'home.close_to_selection' %></label>
                        <input type="radio" id="closeToSelection" name="searchLocation" value="custom"/>
                        <input type="hidden" id="customLocation" name="customLocation"/>
                    </div>
            </fieldset>
            
            <div class="actions">
                <%= submit_tag(t 'home.Search') %>
            </div>
        <% end %>

        <div id="locationSelection"></div>
    </article>
</section>