<section>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @thing.name %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @thing.address %>	  
	</p> 

	<p>
	  <strong>Comments:</strong>
	  <%= @thing.comments %>
	</p>

	<div id="locationSelection" data-latitude="<%= @thing.position.latitude %>" data-longitude="<%= @thing.position.longitude %>"></div>
</section>