<section>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong><%= t('helpers.label.thing.name') %> :</strong>
	  <%= @thing.name %>
	</p>

	<p>
	  <strong><%= t('helpers.label.thing.address') %> :</strong>
	  <%= @thing.address %>	  
	</p> 

	<p>
	  <strong><%= t('helpers.label.thing.comments') %> :</strong>
	  <%= @thing.comments %>
	</p>

	<div id="locationSelection" data-coordinates="<%= JSON.generate(@thing.position.coordinates) %>"></div>
</section>