<section>
	<h2><%= t 'statics.roadmap.title' %></h2>
	<ul>
		<li><%= t 'statics.roadmap.zero_answer_feature' %></li>
		<li><%= t 'statics.roadmap.search_engine_feature' %></li>
		<li><%= t 'statics.roadmap.rating_feature' %></li>
		<li><%= t 'statics.roadmap.favorites_feature' %></li>
	</ul>
</section>